* {
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.post {
    background-color: white;
    width: 30%;
    margin: 50px auto;
}

.post-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.user-info {
    display: flex;
}

.avie {
    font-size: 30px;
    padding-right: 10px;
}

.user-menu {
    font-size: 25px;
}

.post-img img {
    width: 100%;
}

.post-footer {
    padding: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.button-group {
    display: flex;
    width: 25%;
    padding-bottom: 20px;
}

.button-group i {
    padding-right: 10px;
}

.likes,
.caption {
    padding-bottom: 10px;
}